<form id="add-item" action="/item" method="POST" hidden>
    <div>
      <label for="name">Name</label>
      <input type="text" name="name" placeholder="Item Name">
    </div>
  
    <div>
      <label for="name">Description</label>
      <input type="textarea" name="description" placeholder="description">
    </div>
  
    <div>
      <label for="image-url">Image URL</label>
      <input type="text" name="imgURL" placeholder="Image URL">
    </div>
  
    <input type="submit" value="Save">
</form>