<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include('./partials/add-product') %>
    <button id="toggle-add-item">Add Item</button>
    <h1>Items</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
        <% for (const item of items) { %>
          <tr>
            <%- include('./partials/product.ejs', item)%>
            <td>
              <a href = "/item/<%= item.id %>">Edit</a>
              <%- include('./partials/delete-product.ejs', {id: item.id}) %>
            </td>
          </tr>
        <% } %>
    </table>
    <script src="javascripts/index.js"></script>
  </body>
</html>
