<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Items</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Actions</th>
      </tr>
        <% for (const item of items) { %>
          <tr>
            <%- include('./partials/product.ejs', item)%>
            <td>
              <a href = "/item/<%= item.id %>">Edit</a>
            </td>
            <td>
              <form action="/item/<%= item.id %>?_method=DELETE" method="POST">
                <input type='submit' value='Delete'/>
              </form>
            </td>
          </tr>
        <% } %>
    </table>
  </body>
</html>
