<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Items</h1>
    <table>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
      </tr>
      <% for (const item of items) { %>
        <%- include('./partials/product.ejs', item)%>
      <% } %>
    </table>
  </body>
</html>
