<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Items</h1>
    <ul>
      <% for (const item of items) { %>
        <%- include('./partials/product.ejs', item) %>
        <form action="/item/<%= item.id %>?_method=DELETE" method="POST">
          <input type="submit" value="Delete">
        </form>
        <a href="/item/<%= item.id %>">Edit</a>
      <% } %>
    </ul>
  </body>
</html>
