body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

button > a{
  text-decoration: none;
  color:black;
  cursor: default;
}

img {
  width: 300px;
  height: auto;
}

table, th, td {
  border: 1px solid;
}